<div
    class="flex flex-col m-auto my-8 xs:my-8 sm:my-8 md:my-8 lg:my-10 xl:my-10 2xl:my-22 p-6 w-6/6 xs:w-6/6 sm:w-6/6 md:w-4/6 lg:w-4/6 xl:w-4/6 2xl:w-4/6">
    <h2 class="text-sm text-slate-500 dark:text-slate-400 xs:text-md sm:text-md md:text-lg xl:text-xl 2xl:text-1xl">
        {{date published_at format="MMMM DD, YYYY"}}
    </h2>

    <a href="{{url}}">
        <h1 class="text-xl mt-3 xs:text-2xl sm:text-3xl md:text-3xl xl:text-3xl 2xl:text-3xl">
            {{title}}
        </h1>
    </a>

    <a href="{{url}}">
        <p class="text-slate-500 dark:text-slate-400 mt-0 xs:mt-0 sm:mt-0 md:mt-1 lg:mt-3 xl:mt-3 2xl:mt-3 text-md">
            {{excerpt}}
        </p>
    </a>
    
    <div class="flex flex-row mt-4">
        
         <span class="text-sm text-slate-500 dark:text-slate-400">
            {{authors}}
         </span>

        <span class="text-sm text-slate-500 dark:text-slate-400 ml-5">
            {{reading_time}}
        </span>
        
    </div>
</div>